h1 {
  background-color: indigo;
  font-size: 50px;
}

body {
  /* background-color: gold; */
  background-image: url("image.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

h1,
p {
  color: red;
}

p {
  font-weight: bold;
  font-style: italic;
  background-color: goldenrod;
  padding: 20px;
  margin: 20px;
  text-align: justify;
}
